body {
  padding: 0;
  margin: 0;
  background-color: #9bba5a;
  padding: 20px;
}

.game {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.score {
  font-size: 25px;
}
